.wrapper-resume {
  max-width: 1000px;
  margin: auto;
  .div-exp {
    display: flex;
    justify-content: space-between;
    .all-exp {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .exp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
      }
    }
  }
}
